<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <%- include('partials/nav') %>

    <main>

        <!-- flash messages -->
        <% if(error && error.length > 0) { %> 
            <div class="errDiv" style="color: red;">
                <%= error %>
            </div>
        <% } %>

        <% if(success && success.length > 0) { %> 
            <div class="errDiv" style="color: green;">
                <%= success %>
            </div>
        <% } %>

        <% if(info && info.length > 0) { %> 
            <div class="errDiv">
                <%= info %>
            </div>
        <% } %>

        
        <% if(user) { %>
            <section class="homeSect">
                <h2>Files & Folders</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolorum, modi iste odio praesentium cumque dolorem quos.
                </p>

                <h3>Upload a new file</h3>
                <form action="/upload" method="post" enctype="multipart/form-data" class="uploadForm">
                    <input type="file" name="myFile">
                    <button type="submit">Upload</button>
                </form>
            </section>
        <% } else { %>
            <section class="homeSect">
                <div class="leftDiv">
                    <h1>Landing page</h1>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex doloremque, facilis odit sed et explicabo voluptatibus nobis quod.
                    </p>
                    <a href="/auth/sign-up">
                        <button>Sign Up</button>
                    </a>
                </div>
                <div class="rightDiv">
                    <form action="/auth/log-in" method="post" class="authForm">
                        <div>
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" placeholder="Type username" required value="<%= typeof username !== 'undefined' ? username : '' %>">
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Type password" required>
                        </div>
                        <button type="submit">Log In</button>
                        <div class="otherLinks">
                            <p>
                                Don't have an account? <a href="/auth/sign-up">Sign up</a>.
                            </p>
                        </div>
                    </form>
                </div>
            </section>
        <% } %>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>